<html>

<head>
    <meta charset="utf-8" />
    <title>component练习</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="box">
        <p>{{msg}}</p>
        <show></show>
        <show2 :info="info" @numchang="add"></show2>
        <p>
            当前数字：{{num}}
            <button @click="add">+1</button>
        </p>
    </div>
    <template id="show_box">
        <div>
            <p>{{msg}}</p>
            <p>{{info}}</p>
            <p>
                <button @click="add_num">父集数字+1</button>
            </p>
        </div>
    </template>
</body>
<script>
    // 组件一定义的形式
    Vue.component("show", {
        template: '<h3>组件</h3>'
    })
    //组件二定义的形式
    Vue.component('show2', {
        data() {
            return {
                msg: '第二种组件形式'
            }
        },
        props: ['info'],
        template: '#show_box',
        methods: {
            add_num() {
                console.log('点击事件')
                this.$emit('numchang')
            }
        }
    })
    var vm = new Vue({
        el: '#box',
        data: {
            msg: 'hello',
            info: '父集的数据',
            num: 1
        },
        methods: {
            add() {
                this.num++
            }
        }
    })
</script>
<style>

</style>

</html>